<div id="register">
    <a [href]="facebookLink()" class="button facebook">
        <span>Forsæt med Facebook</span>
    </a>
    <a [href]="googleLink()" class="button google">
        <span>Forsæt med Google</span>
    </a>
    <div class="separator">
        <span>eller</span>
    </div>
    <form class="form-container" role="form" [ngFormModel]="registerForm" (submit)="register($event)" autocomplete="off">
        <div class="form-group">
            <input type="text" ngControl="email" class="form-control" id="email" placeholder="Din emailadresse">
        </div>
        <div class="form-group">
            <input type="password" ngControl="password" class="form-control" id="password" placeholder="Din adgangskode">
        </div>
        <button type="submit" class="button action" [ngClass]="{'disabled': !registerForm.valid}">Tilmeld dig</button>
    </form>
    <hr />
    <div class="row collapse signup">
        <div class="column small-6">
            <span>Allerede medlem?</span>
        </div>
        <div class="column small-6" style="text-align: right;">
            <a [routerLink]="['Login']">Log ind</a>
        </div>
    </div>
</div>