#hero {
    
    height: 380px;
    position: relative;
    
    .hero-image {
        
        background-image: url('/assets/images/hero1_x1-min.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
    }
}

#scene {
    
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0px;
    position: absolute;
    background-color: #EDEBD7;
    padding: 1em;
    font-size: 1.1em;
    
    .scene-fields {
        
        max-width: 800px;
        margin: 0 auto;
        
        .no-padding-right {
            
            padding-right: 0;
        }
        
        .no-padding-left {
            
            padding-left: 0;
        }
        
        > .column {
            
            //padding-left: 0;
            //padding-right: 0;
        }
        
        input, button {
            
            border: 1px solid #DEDABD;
            border-radius: 2px 0 0 2px;
            width: 100%;
            padding: 0.9em;
            color: #000;
            background-color: #fff;
            line-height: 1.1em;
            border-top-color: #E6E2C7;
            border-left-color: #E6E2C7;
            border-right-color: #EDEBD7;
            
            &:focus {
                
                outline: none;
            }
            
            &::-webkit-input-placeholder {
                
                color: #9E9E9E;
                font-size: 0.9em;
            }
        }
    }
    
    .scene-field-days {
        
        input {
            
            border-radius: 0;
            border-right-width: 0;
            border-left-width: 0;
        }
    }
    
    .scene-field-button {
        
        button {
            
            color: #FFF;
            background-color: #E3B23C;
            border-radius: 0 2px 2px 0;
            transition: background-color 0.1s ease;
            border: 1px solid #E3B23C;
            
            &:hover,
            &:active,
            &:focus {
                
                background-color: #448A84;
            }
        }
    }
}