<div id="hero">
    <div class="hero-image">
        <div id="scene">
            <div class="scene-fields collapse">
                <div class="scene-field-city column small-12 medium-5 large-7">
                    <input type="text" placeholder="Hvor søger du henne?" />
                </div>
                <div class="scene-field-days column small-12 medium-4 large-3">
                    <input type="text" placeholder="Alle dage" />
                </div>
                <div class="scene-field-button column small-12 medium-3 large-2">
                    <button>
                        Søg
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>