#hero { 
    
    height: 380px;
    position: relative;
    
    .hero-image {
        
        background-image: url('/assets/images/hero1_x1-min.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        
        h1 {
            
            position: absolute;
            text-align: center;
            width: auto;
            margin: 0;
            font-size: 2.5em;
            color: #FFF;
            bottom: 3em;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
        }
    }
}

#scene {
    
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0px;
    position: absolute;
    background-color: #2A90A9;
    padding: 1em;
    font-size: 1.1em;
    
    .scene-fields {
        
        max-width: 800px;
        margin: 0 auto;
        
        .no-padding-right {
            
            padding-right: 0;
        }
        
        .no-padding-left {
            
            padding-left: 0;
        }
        
        .small-padding-right {
            
            padding-right: 0.5em;
        }
        
        .small-padding-left {
            
            padding-left: 0.5em;
        }
        
        input, button {
            
            border: 0;
            border-radius: 0 2px 2px 0;
            width: 100%;
            padding: 0.9em;
            color: #000;
            background-color: #fff;
            line-height: 1.1em;
            
            &:focus {
                
                outline: none;
            }
            
            &::-webkit-input-placeholder {
                
                color: #9E9E9E;
                font-size: 0.9em;
            }
        }
    }
    
    .scene-field-days {
        
        input {
            
            border-left-width: 0;
        }
    }
    
    .scene-field-button {
        
        button {
            
            color: #FFF;
            background-color: #44BBD8;
            border-radius: 2px;
            transition: background-color 0.1s ease;
            line-height: 1.1em;
            box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);
            
            &:hover,
            &:active,
            &:focus {
                
                background-color: #6FC7DC;
            }
        }
    }
}