<div id="home">
    <div class="how">
        <div class="row">
            <div class="column small-12">
                <h2>Hvordan virker det?</h2>
            </div>
            <div class="column small-12 large-4">
                <h3>1. Du finder en lufter nær dig</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eveniet, ratione tenetur sunt id, minima necessitatibus possimus cumque pariatur inventore quo sint, nihil laudantium excepturi veritatis sequi deleniti provident in!</p>
            </div>
            <div class="column small-12 large-4">
                <h3>2. Du gennemser informationerne</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt hic neque cumque fugit, ratione itaque asperiores voluptatibus autem voluptates tenetur voluptate saepe, accusamus! Earum, impedit, praesentium. Quas, harum. Possimus, fuga.</p>
            </div>
            <div class="column small-12 large-4">
                <h3>3. Du logger ind for at tage kontakt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem vel facere dignissimos atque ad delectus libero beatae tenetur nisi ipsam doloribus sit officiis, explicabo praesentium ex alias sed rem!</p>
            </div>
        </div>
    </div>
    <div class="options">
        <div class="row">
            
        </div>
    </div>
</div>