<div id="home" class="row">
    <div class="column small-12 home-text">
        <h1>Find din hundelufter idag</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa accusamus nulla nihil itaque, vero minima aspernatur ducimus 
            veniam porro natus cupiditate reiciendis sequi possimus modi magnam maxime quos, dolore aut. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Ipsa accusamus nulla nihil itaque.
        </p>
    </div>
    <div class="column small-12 medium-6 large-8">
        <a class="home-user-login" href="/" title="Få en hjælpende hånd til at lufte din hund i dit område">
            <h3>Find en hundelufter i dit område</h3>
        </a>
    </div>
    <div class="column small-12 medium-6 large-4">
        <a class="home-user-register" href="/" title="Elsker du hunde, så tilbyd din hjælp som hundelufter idag">
            <h3>Bliv hundelufter</h3>
        </a>
    </div>
    <div class="column small-12 home-sub-text">
        <h2>Find din hundelufter idag</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa accusamus nulla nihil itaque, vero minima aspernatur ducimus 
            veniam porro natus cupiditate reiciendis sequi possimus modi magnam maxime quos, dolore aut. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Ipsa accusamus nulla nihil itaque.
        </p>
    </div>
    <div class="home-sections">
        <div class="column small-12 large-4">
            <a class="home-section-1" href="/">
                <img src="/assets/images/1_web.jpg" alt="" />
                <div class="home-section-text">
                    <h4>Header 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus error ex totam ipsam explicabo praesentium sequi, laudantium itaque illum, sapient!</p>
                </div>
            </a>
        </div>
        <div class="column small-12 large-4">
            <a class="home-section-2" href="/">
                <img src="/assets/images/3_web.jpg" alt="" />
                <div class="home-section-text">
                    <h4>Header 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus error ex totam ipsam explicabo praesentium sequi, laudantium itaque illum, sapient!</p>
                </div>
            </a>
        </div>
        <div class="column small-12 large-4">
            <a class="home-section-3" href="/">
                <img src="/assets/images/hero2_web.jpg" alt="" />
                <div class="home-section-text">
                    <h4>Header 3</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus error ex totam ipsam explicabo praesentium sequi, laudantium itaque illum, sapient!</p>
                </div>
            </a>
        </div>
    </div>
</div>