<headline>Færdiggør din profil</headline>
<div class="row">
    <div class="column small-12">
        <div class="profile-container">
            <div class="row">
                <div class="column small-12 large-7">
                     <form class="form-container" role="form" [ngFormModel]="profileForm" (submit)="save($event)">
                        <div class="group">
                            <h3>Område information</h3>
                            <p>
                                Vi gemmer hverken din adresse eller position. Vi har blot brug for at vide hvilke områder (postnr.) som du er interesseret at lufte hunde i.
                            </p>
                            <div class="form-group">
                                <label for="zip">Område</label>
                                <input type="text" ngControl="zip" class="form-control" id="zip" placeholder="Område">
                            </div>
                        </div>
                        <div class="group">
                            <h3>Profil detaljer</h3>
                            <p>
                                Nu, skal du introducere dig selv. En god beskrivelse af hvem du er, kan være den grund til at andre vælger dig som hundelufter.
                            </p>
                            <div class="form-group">
                                <label for="description">Beskrivelse</label>
                                <textarea ngControl="description" class="form-control" id="description" placeholder="Beskrivelse"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="picture">Profil billede</label>
                                <input type="file" ngControl="picture" class="form-control" id="picture">
                            </div>
                        </div>
                        <div class="group">
                            <h3>Kontakt informationer</h3>
                            <p>
                                Være ikke utryg. Nedenstående oplysninger bliver kun delt med den person du accepterer kontakt med.
                            </p>
                            <div class="form-group">
                                <label for="name">Navn</label>
                                <input type="text" ngControl="name" class="form-control" id="name" placeholder="Navn">
                            </div>
                            <div class="form-group">
                                <label>Fødselsdato</label>
                                <div class="row">
                                    <div class="column small-16 large-3">
                                        <input type="text" ngControl="birthdate-day" class="form-control">
                                    </div>
                                    <div class="column small-16 large-3">
                                        <input type="text" ngControl="birthdate-month" class="form-control">
                                    </div>
                                    <div class="column small-16 large-6">
                                        <input type="text" ngControl="birthdate-year" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" ngControl="email" class="form-control" id="email" placeholder="Email" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefon</label>
                                <input type="text" ngControl="phone" class="form-control" id="phone" placeholder="Telefon">
                            </div>
                        </div>
                        <button type="submit" [ngClass]="{'disabled': !profileForm.valid}">Gem</button>
                    </form>
                </div>
                <div class="column small-12 large-5">
                    <div class="help">
                        <h3>Brug for hjælp?</h3>
                        <p>
                            Vi vil være mere end glade for at hjælpe dig med at udfylde denne formular. Kontakt os venligst på:
                            <span class="phone">+45 21 74 67 66</span>
                            <span class="email">support@luftr.dk</span>
                        </p>
                    </div>
                    <div class="profile">
                        <h3>Din profil</h3>
                        <div *ngIf="profile.name">{{profile.name}}</div>
                        <div *ngIf="profile.city">{{profile.city}}</div>
                        <div *ngIf="profile.age">{{profile.age}} år</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>