#logo {
 	   
    position: relative;
    margin-top: 18px;
    display: block;
    transition: margin-top 0.2s ease;
      
    a {
        
        height: 38px;
        display: block;
        transition: height 0.2s ease;
    }
       
    svg {
        
        height: 100%;
    }
}