@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@import '../bower_components/foundation-sites/scss/foundation.scss';

@include foundation-global-styles;
@include foundation-grid;

html, body {
    
    height: 100%;
    background-color: #F1F1F1;
}

app {
    
    position: relative;
    display: block;
    min-height: 100%;
}

body, p, h2, h3, h4 {
    
    font-family: 'Open Sans', sans-serif;
    color: #5F6264;
    
    &:visited,
    &:active {
        
        color: #5F6264
    }
}

body {
    
    padding-top: 76px;
}

.row {
    
    max-width: rem-calc(1000);
}

#header {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;
    background-color: #fff;
    
    .column {
        
        position: relative;
    }
    
    &.down {
        
        box-shadow: 0px 3px 4px -5px rgba(0, 0, 0, 0.9);
        
        #logo {
            
            margin-top: 10px;
            
            a {
                
                height: 32px;
            }
        }
        
        #navigation {
            
            padding-top: 0.4em;
            padding-bottom: 0.6em;
            
            a {
                
                font-size: 0.9em;
            }
        }
    }
}

#main {
    
    padding-bottom: 190px;
}

.nav {
    
    text-align: right;
}

#modal {
    
    position: fixed;
    z-index: 600;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    
    &.active {
        
        display: flex;
    }
    
    .overlay {
        
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.75);
        z-index: 500;
    }

    .content {
        
        position: relative;
        z-index: 600;
        overflow: hidden;
        border-radius: 2px;
        background-color: #fff;
        left: 0;
        right: 0;
        width: 450px;
        top: 0;
        margin: auto;
        padding: 2em;
    }

}

@import './app/components/navigation/navigation';
@import './app/components/logo/logo';
@import './app/components/footer/footer';

.headline {
    
    position: relative;
    width: 100%;
    background-color: #A8DBDD;
    margin-bottom: 1.6em;
    background-image: url('/assets/images/hero2_web.jpg');
    background-size: cover;
    background-position: center -196px;
    
    &:before {
            
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        //background-color: rgba(16,72,95,0.90);
        background-color: rgba(62, 154, 177, 0.9);
        z-index: 0;
    }
    
    h1 {
        
        margin: 0;
        display: inline-block;
        padding-bottom: 1em;
        line-height: 1em;
        color: #FFF;
        margin-top: 1.5em;
        font-size: 1.5em;
        font-weight: 600;
        position: relative;
        z-index: 1;
        
        &:after {
            
            content: "";
            min-width: 2em;
            max-width: 2em;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.content-container {
    
    background-color: #fff;
    padding: 1.5em;
    border-radius: 1px;
}