@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@import '../bower_components/foundation-sites/scss/foundation.scss';

@include foundation-global-styles;
@include foundation-grid;

html, body {
    
    height: 100%;
    background-color: #F1F1F1;
}

app {
    
    position: relative;
    display: block;
    min-height: 100%;
}

body, p, h2, h3, h4 {
    
    font-family: 'Open Sans', sans-serif;
    color: #5F6264;
    
    &:visited,
    &:active {
        
        color: #5F6264
    }
}

.row {
    
    max-width: rem-calc(1000);
}

#header {
    
    position: relative;
    width: 100%;
    z-index: 50;
    background-color: #fff;
    
    .column {
        
        position: relative;
    }
}

#main {
    
    padding-bottom: 230px;
}

.nav {
    
    text-align: right;
}

#modal {
    
    position: fixed;
    z-index: 600;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    
    &.active {
        
        display: flex;
    }
    
    .overlay {
        
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.75);
        z-index: 500;
    }

    .content {
        
        position: relative;
        z-index: 600;
        overflow: hidden;
        border-radius: 2px;
        background-color: #fff;
        left: 0;
        right: 0;
        width: 450px;
        top: 0;
        margin: auto;
        padding: 2em;
    }

}

@import './app/components/navigation/navigation';
@import './app/components/logo/logo';
@import './app/components/footer/footer';