@import url(https://fonts.googleapis.com/css?family=Poppins:400,600);

@font-face {
    font-family: 'Webnar-Bold';
    src: url('/assets/fonts/30D827_0_0.eot');
    src: url('/assets/fonts/30D827_0_0.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/30D827_0_0.woff2') format('woff2'),
        url('/assets/fonts/30D827_0_0.woff') format('woff'),
        url('/assets/fonts/30D827_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'KatahdinRound-Bold';
    src: url('/assets/fonts/KatahdinRound-Bold.eot');
    src: url('/assets/fonts/KatahdinRound-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/KatahdinRound-Bold.woff2') format('woff2'),
        url('/assets/fonts/KatahdinRound-Bold.woff') format('woff'),
        url('/assets/fonts/KatahdinRound-Bold.ttf') format('truetype');
}

@import '../bower_components/foundation-sites/scss/foundation.scss';

@include foundation-global-styles;
@include foundation-grid;

body {
    
    font-family: 'Poppins', sans-serif;
}

body, p, h2, h3, h4 {
    
    color: #5F6264;
    
    &:visited,
    &:active {
        
        color: #5F6264
    }
}

.row {
    
    max-width: rem-calc(1000);
}

h1 {
    
    margin: 0 0 0.5em 0;
    color: #395654;
}

#header {
    
    font-family: 'Poppins', sans-serif;
    
    .column {
        
        position: relative;
    }
}

#main {
    
    height: 410px;
    visibility: hidden;
}

@import './app/components/navigation/navigation';
@import './app/components/logo/logo';
@import './app/components/footer/footer';