<!doctype html>
<html lang="da-DK">
<head>
    <title><%= webpackConfig.metadata.title %></title>
    <meta charset="UTF-8">
    <base href="/">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luftr hjælper dig med at finde en hundelufter i dit område.">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" />
    <link rel="stylesheet" href="/assets/browser.css" />
</head>
<body>

    <app></app>

    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
    <% } %>
    
    <% if (webpackConfig.metadata.ENV !== 'development') { %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-74264062-1', 'auto');
        ga('send', 'pageview');
    </script>
    <% } %>
</body>
</html>