#navigation {
    
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1.1em;
    transition: padding-top 0.2s ease, padding-bottom 0.2s ease;
    
    a {
        
        text-decoration: none;
        margin: 0 0 0 0.7em;
        display: inline-block;
        text-transform: lowercase;
        color: #20282C;
        padding: 0.7em 1em;
        border-radius: 2px;
        font-size: 0.95em;
        padding-right: 0;
        padding-left: 0.5em;
        transition: font-size 0.2s ease;
        
        &.highlighted {
            
            padding: 0.5em 1em;
            color: #AD7705;
            border: 1px solid #D89B1B;
            box-shadow: 1px 2px 0px 1px rgba(0,0,0,0.03);
            border-radius: 4px;
            position: relative;
            transition: background-color 0.1s ease;
            
            &:hover {
                
                background-color: #F3B025;
                color: #FFF;
            }
        }
    }
}